<mat-toolbar class="shadow-md sticky top-0 z-10">
    <button mat-icon-button (click)="toggleSidenav.emit()" class="cursor-pointer">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="text-xl font-semibold ml-4">{{ routeTitle() }}</span>

    <span class="grow"></span>

    <button mat-button [matMenuTriggerFor]="userMenu" class="flex items-center ml-2 cursor-pointer">
        <img
            src="images/avatar.svg"
            alt="User Avatar"
            class="h-12 w-12 rounded-full mr-2 object-cover"
        />
        <span class="hidden md:inline">Ronaldo</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item><mat-icon>person</mat-icon> Perfil</button>
        <button mat-menu-item><mat-icon>settings</mat-icon> Configurações</button>
        <mat-divider></mat-divider>
        <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Sair</button>
    </mat-menu>
</mat-toolbar>
